.header {
  background-color: #F1F1F1;
  text-align: left;
  padding: 2px;
  width: 100%;
}
img {
  width:10%;
  border-radius: 5px;
  margin: 5px;

}
#weather-icon{
  width: inherit;

}
* {
  box-sizing: border-box;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  height: 500px; /* Should be removed. Only for demonstration */
  margin-top: 1%;


}

.left, .right {
  width: 25%;
  border-style: dashed;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: auto;
}
.weatherheader{
  width: 100%;
  text-align: center;
  border-style: solid;
  overflow: auto;
  white-space: nowrap;
  position: sticky;
}

table{

  width: 100%;
}
table, th, td {

  text-align: center;
  justify-content: center;
}
.pinnedheader{
  width: 100%;
  text-align: center;
  border-style: solid;
  overflow: auto;
  white-space: nowrap;
}

.rowright{
  height: 29%;
  width: 100%;
  border-style: dashed;

}

.middle {
  width: 50%;
  border-style: solid;
  overflow-y: scroll;

}
div.middleheader{
  background-color: #333;
 overflow: auto;
 white-space: nowrap;
 height: auto;
 position: fixed;
 width: 49%;

}

div.topnav a{
display: inline-block;
color: white;
text-align: center;
padding: 18px;
text-decoration: none;
}

li:last-child {
  border-right: none;
  float: right;
}

.middleContent{
  padding-top: 50px;
}

#articles{
}

.toggle{
  width:100%;
  height: 500px;
  padding-top: 50px;
  padding-left: 10px;
  border-style: solid;
  background-color: pink;
  display: block;
  margin-top: 0;

}

#toggledBar{
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.footer {
  margin-bottom: 0;
  height: 50px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}
