.header {
  background-color: #F1F1F1;
  text-align: left;
  padding: 2px;
  width: 100%;
}
img {
  width:10%;
  border-radius: 5px;
  margin: 5px;

}
#weather-icon{
  width: inherit;

}
* {
  box-sizing: border-box;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  height: 500px; /* Should be removed. Only for demonstration */
  margin-top: 1%;


}

.left, .right {
  width: 25%;
  border-style: dashed;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.weatherheader{
  width: 100%;
  text-align: center;
  border-style: solid;
}

table{

  width: 100%;
}
table, th, td {

  text-align: center;
  justify-content: center;
}
.pinnedheader{
  width: 100%;
  text-align: center;
  border-style: solid;
}

.rowright{
  height: 29%;
  width: 100%;
  border-style: dashed;

}

.middle {
  width: 50%;
  border-style: solid;
  overflow-y:scroll;
}
.middleheader{
  width: 100%;
  text-align: center;
  z-index: 2
}
.topnav {
  background-color: #333;
  overflow: hidden;
  width: 49%;
  text-align: center;
  border-style: ridge;
  position: fixed;
  z-index: 2;
  margin-bottom: 50px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
.middleContent{

  margin-top: 60px;
}

#articles{
}

.toggle{
  width:100%;
  margin-top: 50px;
  border-style: solid;
  background-color: pink;
  display: block;

}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.footer {
  margin-bottom: 0;
  height: 55px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}
