.header {
  background-color: #F1F1F1;
  text-align: left;
  padding: 2px;
  width: 100%;
  padding-left: 20px;
  opacity: .8;
}

body{
  background-image: url("https://wallpaperaccess.com/full/2125366.jpg");
  background-size: cover;
}
img {
  width:10%;
  border-radius: 5px;


}
.article-img{
  margin: 10px;
}
.faveimg{
  height:30px;
  width:30px;
  border-style: dashed;
  border-color:yellow;
}
.faveimg:hover{
  border-style: solid;
  border-color:green;
}
.table-icon{
  height:30px;
  width:30px;
}


.signInContainer{
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  background-color: white;
  z-index: 1;
  visibility: visible;
  display: block;
  padding: 90px;
}
 p.w{
  margin:0
}
h5{
  margin:10px;
}
#weather-icon{
  width: 60px;
  height: 60px;
  margin: 0;
}
* {
  box-sizing: border-box;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  height: 500px; /* Should be removed. Only for demonstration */
  margin-top: 1%;
  background-color: azure;
  opacity: 0.9;

}

.left, .right {
  width: 25%;
  border-style: solid;
  border-color: #8cb3d9;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: auto;
}
.weatherheader{
  width: 100%;
  text-align: center;
  background-color: #6699cc;
  overflow: auto;
  white-space: nowrap;
  position: sticky;
  height: 60px;
}

table{

  width: 100%;
}
table, th, td {

  text-align: center;
  justify-content: center;
}
.pinnedheader{
  width: 100%;
  height: 60px;
  text-align: center;
  background-color: #6699cc;
  overflow: auto;
  white-space: nowrap;
  position: sticky;
}

.rowright{
  height: 29%;
  width: 100%;
  border-style: solid;
  border-color: aliceblue;
  white-space: nowrap;
  flex-shrink: 1;
  overflow: scroll;

}


.middle {
  width: 50%;
  border-style: solid;
  border-color: #8cb3d9;
  overflow-y: scroll;

}
div.middleheader{
  opacity: 1;
  background-color: #336699;
 overflow: auto;
 white-space: nowrap;
 height: 60px;
 position: fixed;
 width: 49%;



}

div.topnav a{
display: inline-block;
color: white;
text-align: center;
padding: 18px;
text-decoration: none;
}

#selected{
  background-color: green;
}
.button{

}
div.topnav a:hover{
  border-style: dashed;
  border-color: aqua;
}

li:last-child {
  border-right: none;
  float: right;
}

.middleContent{
  padding-top: 50px;
}

#articles{
  margin-top: 5px;
}

.toggle{
  width:100%;
  height: 500px;
  padding-top: 50px;
  padding-left: 10px;
  border-style: solid;
  background-color: azure;
  display: block;
  margin-top: 0;
  opacity: 1;

}

#toggledBar{
  opacity: 1;
  display: inline-block;
  background-color: cadetblue;
  text-align: left;
  text-decoration: none;
  float:left;
  overflow-x: scroll;
  white-space: nowrap;
  position: relative;
  display: inline-block;
  width:100%;
  height:60px;
  margin-right: 10px;

}

#favorite{
  float:right;

}
.favorites{
  display: none;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.footer {
  background: azure;
  opacity: .8;
  margin-top: 10px;
  position: relative;
  max-width: 800;
  height: 60px;
  overflow: hidden;


}
.hwrap{
height:50px;


position: relative;
text-transform: uppercase;
letter-spacing: 1px;
font-size: 20px;
font-weight: 500;
overflow: hidden;


}
.hmove{
  display:flex;
  text-align: center;
  animation-duration: 300s;
  text-decoration: none;
}
.hitem{
  padding-top: 15px;
  flex-shrink: 0;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}
@keyframes tickerh {
  0% { transform: translate3d(100%, 0, 0); }
  100% { transform: translate3d(-2000%, 0, 0); }
}
.hmove { animation: tickerh linear 250s infinite; }
.hmove:hover { animation-play-state: paused; }
